h1 {
  font-weight: 300;
}

.list-container {
  /* background-color: rgb(254, 255, 250); */
  /* background-color: rgba(242, 238, 238, ); */
  /* background-color: white; */
  margin: 1em 0.5em 1em 0.5em;
  padding: 2em;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: "0px 5px 25px 0px rgba(30, 30, 30, 0.5)";
} 
